<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
      integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameNews</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div >
    <a class="navbar-brand mr-4" href="/" class="text-dark">Questionnaire</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</nav>
{% block container %}
{% endblock %}
</body>
</html>